{% extends "base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2 class="mb-4">Checkout</h2>

    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">
            <label>Full Name</label>
            <input type="text" name="full_name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Address</label>
            <textarea name="address" class="form-control" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label>Phone Number</label>
            <input type="text" name="phone" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Payment Method</label>

            <select name="payment_method" class="form-control">

                <option value="COD">Cash on Delivery</option>

                <option value="CARD">Card</option>

            </select>
        </div>

        <h4>Total: ₹{{ total }}</h4>

        <button class="btn btn-success mt-3">
            Place Order
        </button>

    </form>

</div>

{% endblock %}