{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-6">

        <div class="card p-4">

            <h2 class="text-center mb-4">
                Create Your Account
            </h2>

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    {{ form.username }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Phone Number</label>
                    {{ form.phone_number }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    {{ form.password1 }}
                </div>

                <div class="mb-4">
                    <label class="form-label">Confirm Password</label>
                    {{ form.password2 }}
                </div>

                <button class="btn btn-primary w-100">
                    Register
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}